<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 p-3 bg-primary text-center">
            Hola
        </div>
        <div class="col-md-6 p-3 bg-secondary text-center">
            Mundo!
        </div>
    </div>
</div>
